<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <h1 class="site-title"><a class="site-logo" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
    <!--<a class="discord-link" href="https://discord.gg/bUxa46xEjr" target="_blank">
      <img src="/uploads/discord-logo.png" alt="Discord logo" />
      Join 500+ Pioneers in the <strong>FicsIt-Networks Discord</strong> ▸
    </a>-->
  </div>
</header>
