code {
  background-color: #fffdee;
}

pre,
pre>code {
  color: #fff;
  background-color: #333 !important;
  
  .kd,k { color: #ebca02; }
  .s1, .s2, .s3 { color: #f48600; }
  .nb, .mi { color: #caff8b }
} 
