code {
  background-color: #fffdee;
}

pre,
pre>code {
  color: #fff;
  background-color: #333 !important;
  
  .kc { color: #00ff00; }
  .kd, .k { color: #ebca02; }
  .s1, .s2, .s3 { color: #f48600; }
  .nb, .mi { color: #caff8b }
  .nf { color: #ddabe3 }
} 
