
.home-hero-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.home-content {
  width: calc(70% - 80px);
  padding: 20px;
  border: 10px solid #fff;
  margin-right: 20px;
  background: url('/uploads/intro-bg.gif');
}

.info-panel {
  width: 30%;
  font-size: 0.8em;
  margin-top: 15px; 
}

.info-pane {
   background: #efefef;
   padding: 20px;
   margin: 0 0 20px;
   
   p { margin-bottom: 0} 
   
   .title { 
     display: flex;
   }
   
   img {
     margin-right: 10px;
     height: 60px;
     width: 60px;
     border-radius: 5px;
   }
}

@media only screen and (max-width: 850px) {
  .home-content, .info-panel  { width: 100% }
}
