$titleBg: rgba(25,25,25,0.7);

.post-header {
  padding: 70px 50% 70px 50px;
}

.post-header-wrapper {
  display: block;
  background: $titleBg;
  padding: 20px;
  border-left: 10px solid #d7902a;
}

.post-title,
.post-meta {
  color: #fff;
}

.post-list-item {
   width: 33%; 
}
.post-list {
  display: flex;
  gap: 10px;

  
  .post-link {
    display: block;
    width: 100%;
    padding-bottom: 93%;
    color: #fff;
    position: relative;
  }
  
  .post-thumb-title {
    background: $titleBg;
    margin: 10px;
    padding: 10px;
    border-left: 10px solid #d7902a;
    width: calc(100% - 50px);
    position: absolute;
    bottom: 0px;
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 700px) {
  .post-header {
    padding: 40px;
  }
  .post-list-item {
    width: 50%;
  }
  
  .post-thumb-title {
    font-size: 1em; 
  }
}

@media only screen and (max-width: 400px) {
  .post-header {
    padding: 40px;
  }
  .post-list-item {
    width: 100%;
  }
}
