---
---

@import "minima";

.site-title {
   background: transparent url('/uploads/ppfinlogo.gif') no-repeat top left;
   background-size: cover;
   text-indent: -9999px;
   overflow: hidden;
   display: block;
   width: 600px;
   height: 78px;
   margin: 10px 0;
}
