---
---
$content-width: 1000px;

$orange: #d7902a;
$orange-dark: #ab6f1a;
   
@import "minima";
@import "post";
@import "codepre";
@import "homehero";

a { 
 color: $orange;
   
 &:visited {
  color: $orange-dark;
 }
}

.site-title {
   margin: 10px 0;
}

.site-logo {

   background: transparent url('/uploads/ppfinlogo.png') no-repeat top left;
   background-size: contain;
   text-indent: -9999px;
   overflow: hidden;
   display: block;
   width: 500px;
   height: 55px;
   margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;  
}
.page-heading {
   font-size: 24px;
}

.discord-link {
   display: block;
   width: 159px;
   background: #616161;
   float: right;
   padding: 8px 8px 8px 60px;
   color: #fff !important;
   font-size: 0.8em;
   margin: 10px 0 0 0;
   border-radius: 5px;
   position: relative;
   text-decoration: none !important;
   position: relative;
   color: #fff;
   
   img {
     width: 44px;
     height: 34px;
     position: absolute;
     top: 11px;
     left: 9px;
     opacity: 0.6;
   }
   
   &:hover {
     background-color: #686868;
     top: -1px;
     left: -1px;
      
      &:after {
         left: 4px;
         top: 4px;
      }
   }
   
   &:active {
    top: 1px;
    left: 1px;
      
    &:after {
      left: 2px;
      top: 2px;
    }
   }
   
   strong { color: $orange }
   
   &:after {
      content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #555555;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: -1;
    border-radius: 5px;
   }
}
