---
---
$content-width: 1000px;

$orange: #d7902a;
$orange-dark: #ab6f1a;
   
@import "minima";

a { 
 color: $orange;
   
 &:visited {
  color: $orange-dark;
 }
}

.site-title {
   margin: 10px 0;
}

.site-logo {

   background: transparent url('/uploads/ppfinlogo.png') no-repeat top left;
   background-size: contain;
   text-indent: -9999px;
   overflow: hidden;
   display: block;
   width: 500px;
   height: 55px;
   margin: 0;
}

.home-hero-wrapper {
   display: flex;
}

.home-content {
  width: 65%;
  margin-right: 5%;
}
.info-panel {
  width: 30%;
   font-size: 0.8em;
}

.info-pane {
   background: #efefef;
   padding: 20px;
   margin: 0 0 20px;
   
   blockquote {
    font-size: 1em;
    letter-spacing: 0;
   }
   
   .title { 
     display: flex;
   }
   
   img {
     margin-right: 10px;
     height: 60px;
     width: 60px;
   }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;  
}
.page-heading {
   font-size: 24px;
}

.discord-link {
   display: block;
   width: 151px;
   background: #616161 url('/uploads/discord-link.png') no-repeat 5px 5px;
   float: right;
   padding: 8px 8px 8px 56px;
   color: #fff;
   font-size: 0.8em;
   margin: 10px 0 0 0;
   border-radius: 5px;
   position: relative;
   text-decoration: none !important;
   
   &:hover {
     color: #fff;
     background-color: #787878;
   }
   
   strong { color: $orange }
   
   &:after {
      content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333333;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: -1;
    border-radius: 5px;
   }
}
