---
---

@import "minima";

.site-title {
   margin: 10px 0;
}

.site-logo {

   background: transparent url('/uploads/ppfinlogo.gif') no-repeat top left;
   background-size: contain;
   text-indent: -9999px;
   overflow: hidden;
   display: block;
   width: 500px;
   height: 55px;
   margin: 0;
}

.home-hero-wrapper {
   display: flex;
}

.home-content {
  width: 70%;
}
.info-panel {
  width: 30%;
   font-size: 0.8em;
}

.info-pane {
   background: #efefef;
   padding: 10px 15px;
   margin: 0 0 20px;
   
   blockquote {
    font-size: 1em;
    letter-spacing: 0;
   }
}
