---
layout: default
---
<div class="home">
  <div class="home-hero-wrapper">
    <section class="home-content">
      {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}
      {{ content }}
    </section>
    
    <section class="info-panel">
      <div class="info-pane">
        <h2>What is Satisfactory?</h2>
        <p><a href="https://www.satisfactorygame.com/" target="_blank">Satisfactory</a> is a first-person open-world factory building game by <a href="https://www.coffeestainstudios.com/" target="_blank">CoffeeStain Studios</a>.<p>
      </div>
      <div class="info-pane">
        <h2>What is FicsItNetworks?</h2>
        <p><a href="https://ficsit.app/mod/FicsItNetworks" target="_blank">FicsItNetworks</a> is a mod for Satisfactory by <a href="https://panakotta00.massivebytes.net/" target="_blank">Panakotta00</a> that allows you to control, mointor, manage and automate each process of your factory by providing a network system and programmable computers.</p>
      </div>
    </section>
    
  </div>
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
